@model OnlineMarket.Application.Requests.Product.CreateProductRequest

@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout";
}


<h2>Create Product</h2>

<div class="container mt-4">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="Name">Product Name</label>
            <ejs-textbox id="Name" name="Name" placeholder="Enter product name" cssClass="e-outline"></ejs-textbox>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <ejs-textarea id="Description" name="Description" placeholder="Enter product description" cssClass="e-outline"></ejs-textarea>
        </div>

        <div class="form-group">
            <label for="SKU">SKU</label>
            <ejs-textbox id="SKU" name="SKU" placeholder="Enter SKU" cssClass="e-outline"></ejs-textbox>
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <ejs-numerictextbox id="Price" name="Price" placeholder="Enter price" format="C" cssClass="e-outline"></ejs-numerictextbox>
        </div>

        <div class="form-group">
            <label for="CategoryId">Category</label>
            <ejs-dropdownlist id="Categories" width="80px" dataSource="@ViewBag.Categories" popupWidth="300px" placeholder="All" popupHeight="220px">
                <e-dropdownlist-fields text="Name" value="Id"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>

        <div class="form-group">
            <label for="Quantity">Quantity</label>
            <ejs-numerictextbox id="Quantity" name="Quantity" placeholder="Enter quantity of product" cssClass="e-outline"></ejs-numerictextbox>
        </div>

        <div class="form-group">
            <label for="Image" class="form-label label-size">Attachments</label>
            <ejs-uploader id="upload-files" autoUpload="false" name="attachments"></ejs-uploader>
        </div>

        <div class="form-group text-center">
            <button type="submit" asp-action="Create" class="btn btn-primary">Create Product</button>
        </div>
    </form>
</div>

