@model IEnumerable<OnlineMarket.Application.ViewModels.Product.ProductViewModel>

@{
    ViewData["Title"] = "Create Product";
    Layout = "_Layout"; 
}

<div class="container mt-4">
    <a class="btn btn-success mt-4" asp-action="Create">NewProduct</a>
</div>
    
