html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Custom Style*/


/*Hader*/

.search-bar {
    display: flex;
    flex-grow:1;
}

    .search-bar input {
        width: 100%;
        padding: 10px;
        border: 0px solid #ddd;
        border-right: none;
    }

        .search-bar input:focus {
            border: 3px solid #ddd;
            border-color: #e6952e;
            outline: none;
        }

    .search-bar button {
        padding: 0 20px;
        border:0px solid #ddd;
        background-color: #e6952e;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }

        .search-bar button:hover {
            background-color: #c28940;
            border: #c28940
        }

/*Header*/

/*Footer*/

.footer1 {
    background-color: black;
    padding: 20px 0;  
    height:300px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    gap:15px
}

.footer-section {
    flex: 1;
}

    .footer-section h3 {
        margin-bottom: 10px;
        font-size: 18px;
        color: #fff;
    }

    .footer-section ul {
        list-style-type: none;
    }

        .footer-section ul li {
            margin-bottom: 8px;
        }

            .footer-section ul li a {
                color: #ccc;
                text-decoration: none;
            }

                .footer-section ul li a:hover {
                    text-decoration: underline;
                }

.download-app img, .social-networks img {
    width: 120px;
    margin: 10px 0;
}

.social-networks img {
    width: 40px;
    margin-right: 10px;
}

    .social-networks img:last-child {
        margin-right: 0;
    }

footer a {
    color: inherit;
    text-decoration: none;
}

/*Footer*/